<%- include('./includes/head.ejs') %>
<%- include('./includes/navbar.ejs') %>
<main>
    <h1>ALL PRODUCTS</h1>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="http://images.amazon.com/images/P/0596004478.01._PE30_PI_SCMZZZZZZZ_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">productName</h5>
              <p class="card-text">description</p>
              <p class="card-text">price</p>
              <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
        </div>
    </div>
</main>
<%- include('./includes/end.ejs') %>